{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <title>QCRI - Arabic Dialect Identification</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<br/><br/><br/><br/>
<div class="container">
    <h2>Qatar Computing Research Institute (QCRI) - ICASSP Demo 2018</h2>

    <p>As you talk in your microphone, text start to appear in the textarea and a table show up to display four Arabic dialects
        namely, Egyptian, Levantine, Gulf, North African (Moroccan) in additional to Modern Standard Arabic. Each
        dialect appears in a row and the row are ordered based on how much the text is in that dialect:</p>
    <br/><br/>



    <br/>

    <form>
        <div class="form-group">
            <label for="comment">ASR output:</label>
            <textarea class="form-control text-right" rows="5" id="transcripts" style="font-size: 22px;"></textarea>
        </div>
        <!--<input class="btn btn-primary" type="reset" value="Reset">-->



    </form>
    <div class="btn-group" role="group" aria-label="...">
        <button class="btn btn-primary" onclick="start_listening()">Start Talking</button>
        <button class="btn btn-primary" onclick="stop_listening()">Stop Talking</button>
    </div>
        <table class="table">
            <thead>
            <tr>
                <th>Dialect</th>
                <th>Score</th>
                <th>Non-MSA?</th>
            </tr>
            </thead>
            <tbody id="dialects">
            <!--<tr class="success">-->
                <!--<td>MSA</td>-->
                <!--<td>12.544</td>-->
                <!--<td>False</td>-->
            <!--</tr>-->
            <!--<tr class="danger">-->
                <!--<td>EGY</td>-->
                <!--<td>48.998</td>-->
                <!--<td>True</td>-->
            <!--</tr>-->
            <!--<tr class="info">-->
                <!--<td>GLF</td>-->
                <!--<td>33.333</td>-->
                <!--<td>True</td>-->
            <!--</tr>-->
            <!--<tr class="warning">-->
                <!--<td>NOR</td>-->
                <!--<td>3.66</td>-->
                <!--<td>True</td>-->
            <!--</tr>-->
            <!--<tr class="active">-->
                <!--<td>LEV</td>-->
                <!--<td>39.194</td>-->
                <!--<td>True</td>-->
            <!--</tr>-->
            </tbody>
        </table>

</div>



<script src="{% static 'did/asr/examples/static-webapp-example/dictate.js' %}" type="text/javascript"></script>
<script src="{% static 'did/asr/examples/static-webapp-example/recorder.js' %}"></script>
<script src="{% static 'did/asr/examples/static-webapp-example/index.js' %}" type="text/javascript"></script>
</body>
</html>